/* Font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/*---------- Banner section Start --------*/

header {
    width: 100%;
    height: 1000px;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 130px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    margin-bottom: 150px;
}

.page-name a {
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-link-container {
    width: 477px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.headr-container {
    text-align: center;
}

.headr-container h1 {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 30px;
}

.headr-container p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

/* Button */

.btn-primary {
    background: #FF900E;
    border-radius: 5px;
    height: 64px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 24px;
    border: 0;
    margin-bottom: 50px;
}

.banner-img img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ------------ Banner section End --------------- */

/* Quick list of Our Features start */

.Features-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 130px;
}

.Features-img img {
    width: 230px;
}

.Features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.Features-text h2 {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.Features-text .span-1 {
    color: #727272;
}

.Features-text .span-2 {
    color: #FF900E;
}

.Features-text p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

/* Quick list of Our Features start */

.Features-2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 130px;
}

.Features-2-love-h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.Features-2-love-p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    margin-top: 24px;
}

.Features-2-box {
    /* width: 480px;
    height: 70px; */
    padding: 20px;
    box-shadow: 5px 5px 25px rgb(232, 232, 232);
}

.Features-2-box p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.Features-2-box h4 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.Features-2-img img {
    width: 450px;
}

/* Quick list of Our Features End */

/* Some Facts start */

.some-facts {
    width: 550px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.some-facts h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.some-facts p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.some-facts-box-container {
    display: flex;
    margin-bottom: 180px;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.some-facts-box p {
    color: #727272;
}

.some-facts-box h2 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}

.some-facts-box {
    width: 150px;
    padding: 40px;
    text-align: center;
    box-shadow: 2px 2px 25px rgb(232, 232, 232);
    border-radius: 8px;
}

.some-facts-box:hover {
    width: 150px;
    padding: 40px;
    text-align: center;
    box-shadow: 2px 2px 25px rgb(232, 232, 232);
    border: 2px solid #FF900E;
    border-radius: 8px;
}

/* Some Facts section end */


/* Our Sponsors Start */
.our-sponsors-container {
    text-align: center;
    margin-bottom: 140px;
}

.our-sponsors-container h3 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.our-sponsors-container p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.our-sponsors-img {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img-sponsors {
    width: 140px;
}

/* Our Sponsors End */

/* footer Start */
footer {
   display: flex;
   justify-content: center;
}
footer p{
    text-align: center;
    margin-bottom: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    color: #424242;
    
    padding: 20px 50px;
    border: 0;
    width: 800px;
}

/* footer end */